<%= render 'app/pages/active_project/shared/subheader' %>
<div class="max-w-screen-lg mx-auto flex flex-wrap">
  <%= render partial: 'app/pages/active_project/shared/menu', locals: { submenu: 'meetings' } %>
</div>
