<div>
  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">
    <%= meeting.date.strftime('%d/%m/%Y %H:%M') %>
  </h2>
  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
    <%= link_to meeting.title, app_meeting_path(meeting) %>
  </h1>
</div>
