<div>
  <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">
    <%= news.created_at.strftime('%d/%m/%Y %H:%M') %>
  </h2>
  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
    <%= link_to news.title, app_news_path(news) %>
  </h1>
</div>
