@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  max-width: 1024px !important;
}

a {
  @apply text-gray-500;
}
a:focus,
a:hover {
  @apply outline-none text-black;
}

h1 {
  @apply text-3xl text-gray-800 font-medium;
}
h2 {
  @apply text-xl text-gray-400 font-medium;
}

button.primary {
  @apply py-3 mt-4 font-medium tracking-widest uppercase rounded text-white bg-gray-900;
}
button.primary:focus,
button.primary:hover {
  @apply outline-none bg-gray-800;
}
button.primary:disabled {
  @apply bg-gray-600;
}

input[type=email],
input[type=password],
input[type=text],
textarea {
  @apply block w-full p-3 mt-1 text-gray-700 bg-gray-50 border-2 border-gray-300 rounded;
}
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
textarea:focus {
  box-shadow: none;
  @apply border-gray-600;
}

label {
  @apply block mt-3 text-xs text-gray-600 font-semibold uppercase;
}

table {
  thead tr {
    @apply text-xs bg-gray-100;

    th {
      @apply p-2 text-center text-gray-400;
    }
  }
  
  tbody tr {
    @apply text-sm border-b border-gray-100;

    td {
      @apply p-2 text-center text-gray-800;
    }
  }
}

.button-link {
  @apply text-xs font-semibold text-gray-600 hover:text-gray-900 uppercase bg-gray-100 border-0 py-2 px-4 ml-2 focus:outline-none hover:bg-gray-200 rounded;
}

.sidebar-menu {
  @apply mt-8;
  
  li {
    @apply flex items-center px-3 py-3 mb-2 rounded text-gray-800 hover:text-white hover:bg-gray-800;

    span {
      @apply ml-3;
    }
  }

  .active {
    @apply bg-gray-100;
  }
}