@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  max-width: 1024px !important;
}

a {
  @apply text-gray-500;
}
a:focus,
a:hover {
  @apply outline-none text-black;
}

h1 {
  @apply text-3xl text-gray-800 font-medium;
}
h2 {
  @apply mb-2 text-xl text-gray-400 font-medium;
}
h2.subtitle {
  @apply flex flex-none text-xs text-gray-400 tracking-widest font-medium uppercase mb-1;
}

.alert {
  @apply w-full px-6 py-4 mb-4 flex rounded bg-gray-100 text-gray-600;

  a {
    @apply text-gray-600;
  }

  svg {
    @apply text-gray-600;
  }
}
.alert.danger {
  @apply bg-red-100 text-red-600;
  
  a {
    @apply text-red-600;
  }

  svg {
    @apply text-red-600;
  }
}
.alert.success {
  @apply bg-green-100 text-green-600;
  
  a {
    @apply text-green-600;
  }

  svg {
    @apply text-green-600;
  }
}
.alert.warning {
  @apply bg-yellow-100 text-yellow-600;

  a {
    @apply text-yellow-600;
  }

  svg {
    @apply text-yellow-600;
  }
}

.button-link {
  @apply text-xs font-semibold text-gray-600 uppercase bg-gray-100 border-0 py-2 px-4 ml-2 rounded;
}
.button-link:focus,
.button-link:hover {
  @apply text-gray-900 bg-gray-200 outline-none;
}

button:not(.appearance-none, .notyf__dismiss-btn) {
  @apply py-3 mt-4 font-medium tracking-widest text-gray-600 uppercase bg-gray-100 rounded;
}
button:not(.appearance-none, .notyf__dismiss-btn):focus,
button:not(.appearance-none, .notyf__dismiss-btn):hover {
  @apply text-gray-900 bg-gray-200 outline-none;
}
button:not(.appearance-none, .notyf__dismiss-btn):disabled {
  @apply bg-gray-300;
}

.button-link.primary,
button.primary {
  @apply text-white bg-gray-900;
}
.button-link.primary:focus,
.button-link.primary:hover,
button.primary:focus,
button.primary:hover {
  @apply text-white bg-gray-800 outline-none;
}
.button-link.disabled {
  @apply text-white bg-gray-400;
}
button.primary:disabled {
  @apply text-white bg-gray-600;
}

input[type="email"],
input[type="password"],
input[type="text"],
select,
textarea {
  @apply block w-full p-3 mt-1 text-gray-700 bg-gray-50 border-2 border-gray-300 rounded;
}
input[type="checkbox"] {
  @apply p-2 mr-2 outline-none bg-gray-50 border-2 border-gray-300 rounded;
}
input[type="file"]:focus {
  @apply outline-none;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  @apply border-gray-600;
}
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled,
select:disabled,
textarea:disabled {
  box-shadow: none;
  @apply border-gray-100 bg-gray-50 text-gray-400;
}
input[type="checkbox"],
input[type="checkbox"]:focus {
  box-shadow: none;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:checked:focus,
input[type="checkbox"]:checked:hover {
  @apply border-gray-600 bg-gray-800;
}

label {
  @apply block text-xs text-gray-600 font-semibold uppercase;
}

.field {
  @apply mt-3;
}

table {
  @apply mb-4;

  thead tr {
    @apply text-xs bg-gray-100;

    th {
      @apply p-2 text-center text-gray-400;
    }
  }

  tbody tr {
    @apply text-sm border-b border-gray-100;

    td {
      @apply p-2 text-center text-gray-800;
    }
  }
}

.tabs {
  @apply flex w-full mt-2 mb-4 border-b-2 border-gray-100;
  
  a {
    @apply sm:px-6 py-3 w-1/2 sm:w-auto inline-flex items-center border-b-2 border-transparent leading-none text-gray-400 hover:text-gray-800;
  }
  a.active {
    @apply border-gray-400 text-gray-600;
  }
}

.mobile-tabs {
  @apply mb-4;
}

.sidebar-menu {
  @apply mt-8;

  li {
    @apply flex items-center px-3 py-3 mb-2 rounded text-gray-800 hover:text-white hover:bg-gray-800;

    span {
      @apply ml-3;
    }
  }

  .active {
    @apply bg-gray-100;
  }
}

.badge {
  @apply inline-block py-1 px-2 rounded bg-gray-100 text-xs font-medium tracking-widest;
}
.badge-red {
  @apply bg-red-100;
}
.badge-yellow {
  @apply bg-yellow-100;
}

#modal-form {
  .cols {
    @apply flex flex-row gap-4;
  }
  .actions {
    @apply flex flex-col-reverse sm:flex-row sm:gap-4;
  }
}

ul.check-box {
  @apply py-2;

  li {
    @apply pb-2;

    span {
      @apply capitalize;
    }
  }
}
