<%
  languages = [
    {
      code: 'en',
      title: 'English'
    },
    {
      code: 'es',
      title: 'Español'
    },
    {
      code: 'fr',
      title: 'Français'
    },
    {
      code: 'pt-BR',
      title: 'Português'
    }
  ]
%>
<div class="relative">
  <button onClick="dropdown()" class="appearance-none flex flex-row z-10 py-2 ml-4 hover:text-gray-900 border-0 focus:outline-none rounded">
    <%= image_tag("icons/#{I18n.locale}.svg", size: '30') %>
    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </button>
  <div id="dropdownMenu" class="hidden absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-xl z-20">
    <% languages.each do |l| %>
      <%= link_to l[:title], "?locale=#{l[:code]}", class: 'block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100' %>
    <% end %>
  </div>
</div>
<script>
  $(document).click(function(){
    $("#dropdownMenu").hide();
  });
  function dropdown() {
    $("#dropdownMenu").toggle();
    event.stopPropagation();
  }
</script>
